@model WebApplication1.Models.User
@{
    ViewBag.Title = "OwnerIndex";
}

<h2>Owner Index</h2>

<table class="table table-bordered">
    <tr>
        <td>UserId </td>
        <td>Username </td>
        <td>Password</td>
        <td>Phone </td>
        <td>Email </td>
        <td>Address</td>
        <td>Flats </td>
    </tr>




</table>

